name: Run Unit Tests

on:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install PostgreSQL
        run: |
          sudo apt-get update
          sudo apt-get install -y postgresql postgresql-contrib libpq-dev

      - name: Start PostgreSQL service
        run: sudo service postgresql start

      - name: Create test database & user
        run: |
          sudo -u postgres psql -c "CREATE USER test_user WITH PASSWORD 'test_password';"
          sudo -u postgres psql -c "CREATE DATABASE test_db OWNER test_user;"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest psycopg2-binary joblib

      - name: Run Tests
        env:
          DataBase_URL: postgresql+psycopg2://test_user:test_password@localhost:5432/test_db
        run: pytest -v
